In [1]:
import pandas

In [2]:
dat = pandas.read_csv("data/gapminder.tsv", sep="\t")

In [3]:
dat.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
dat.sample(10)

              country continent  year  lifeExp        pop     gdpPercap
1126            Niger    Africa  2002   54.496   11140655    601.074501
705             India      Asia  1997   61.765  959000000   1458.817442
1376  Slovak Republic    Europe  1992   71.380    5302888   9498.467723
1210             Peru  Americas  2002   69.906   26769436   5909.020073
1480      Switzerland    Europe  1972   73.780    6401400  27195.113040
522           Finland    Europe  1982   74.550    4826933  18533.157610
1374  Slovak Republic    Europe  1982   70.800    5048043  11348.545850
561            Gambia    Africa  1997   55.861    1235767    653.730170
761            Israel      Asia  1977   73.060    3495918  13306.619210
1152             Oman      Asia  1952   37.578     507833   1828.230307

In [5]:
import pandas as pd

In [7]:
dat = pd.read_csv("data/gapminder.tsv", sep="\t")

In [8]:
type(dat)

pandas.core.frame.DataFrame

In [9]:
dat.shape

(1704, 6)

In [10]:
dat.shape()

TypeError: 'tuple' object is not callable

In [13]:
pd.__version__

'1.3.3'

In [14]:
dat

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [17]:
dat.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [19]:
dat.index

RangeIndex(start=0, stop=1704, step=1)

In [20]:
dat.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [21]:
dat.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [22]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# subsetting

In [24]:
country_df = dat["country"]

In [25]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [26]:
type(country_df)

pandas.core.series.Series

In [27]:
country_df = dat[["country"]]

In [29]:
type(country_df)

pandas.core.frame.DataFrame

In [31]:
subset_df = dat[["country", "continent", "year"]]

In [32]:
subset_df

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [33]:
dat["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [34]:
dat.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [35]:
dat.shape

(1704, 6)

In [37]:
dat

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [38]:
dat.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [39]:
dat.loc[[0, 99]]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
99   Bangladesh      Asia  1967   43.453  62821884  721.186086

In [40]:
dat.loc[-1]

KeyError: -1

In [41]:
dat.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [43]:
dat.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [46]:
dat.sample(10).loc[0]

KeyError: 0

In [48]:
dat.sample(10).iloc[-1]

country      Dominican Republic
continent              Americas
year                       1972
lifeExp                  59.631
pop                     4671329
gdpPercap           2189.874499
Name: 436, dtype: object

In [50]:
dat.loc[:100, ["year", "pop"]]

     year       pop
0    1952   8425333
1    1957   9240934
2    1962  10267083
3    1967  11537966
4    1972  13079460
..    ...       ...
96   1952  46886859
97   1957  51365468
98   1962  56839289
99   1967  62821884
100  1972  70759295

[101 rows x 2 columns]

In [54]:
dat.iloc[:100, [2, 4]]

    year       pop
0   1952   8425333
1   1957   9240934
2   1962  10267083
3   1967  11537966
4   1972  13079460
..   ...       ...
95  2007    708573
96  1952  46886859
97  1957  51365468
98  1962  56839289
99  1967  62821884

[100 rows x 2 columns]

In [57]:
dat["country"] == "Zimbabwe"

0       False
1       False
2       False
3       False
4       False
        ...
1699     True
1700     True
1701     True
1702     True
1703     True
Name: country, Length: 1704, dtype: bool

In [59]:
dat.loc[dat["country"] == "Zimbabwe", ["country", "lifeExp"]]

       country  lifeExp
1692  Zimbabwe   48.451
1693  Zimbabwe   50.469
1694  Zimbabwe   52.358
1695  Zimbabwe   53.995
1696  Zimbabwe   55.635
1697  Zimbabwe   57.674
1698  Zimbabwe   60.363
1699  Zimbabwe   62.351
1700  Zimbabwe   60.377
1701  Zimbabwe   46.809
1702  Zimbabwe   39.989
1703  Zimbabwe   43.487

In [67]:
dat.loc[(dat["country"] == "Zimbabwe") & (dat["lifeExp"] > 50),
        ["country", "lifeExp", "year"]]

       country  lifeExp  year
1693  Zimbabwe   50.469  1957
1694  Zimbabwe   52.358  1962
1695  Zimbabwe   53.995  1967
1696  Zimbabwe   55.635  1972
1697  Zimbabwe   57.674  1977
1698  Zimbabwe   60.363  1982
1699  Zimbabwe   62.351  1987
1700  Zimbabwe   60.377  1992

In [70]:
dat["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)